{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="button-container">
    	<button class="cafe-button">{{ button_label|default('Enregister') }}</button>
    </div>

{{ form_end(form) }}
