{% extends 'base.html.twig' %}

{% block title %}New Producteur{% endblock %}

{% block body %}
	<a href="{{ path('producteur_index') }}" class=''>
    	<div class="button-back"></div>
    </a>
	<div class="column-c-c w100p form-container">
    	{{ include('producteur/_form.html.twig') }}
	</div>

{% endblock %}
