{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <img src="https://media.giphy.com/media/1etQnLwa9EpdD4wTct/giphy.gif" alt="Merci <3" style="width: 25%; margin-left: 80vh">

    <p>
        Nous avons réalisé ce site web à l'aide du framework PHP Symfony car nous avons l'habitude de l'utiliser et nous
        sommes à l'aise dessus. Le motif MVC nous permet de distinguer clairement les différentes partie de
        l'application et donc, non seulement de simplifier la répartition des tâches, mais aussi de
        faciliter la maintenance du site. De plus c'est un outil utilisé par les professionnel et est donc sûr.
        Pour ce qui est du front, nous utilisons LESS qui permet de l'imbrication, le polymorphisme ainsi qu'un meilleur
        organisation du code.
        Mais aussi parce que nous pensons que les frameworks et plus particulièrement Bootstrap conditionne et
        limite l'interface graphique. Nous préférons avoir la main sur l'ensemble du code.
        La quasi-totalité des informations contenues sur le site provient de Wikipédia, puisque le premier tableau
        donné dans le sujet en est également tiré. C'est une source relativement fiable mais c'est aussi l'une des
        seules sources, si ce n'est la seule, qui dispose de toutes les informations nécessaire.
    </p>


{% endblock %}
