{% extends 'base.html.twig' %}

{% block title %}Edit Cafe{% endblock %}

{% block body %}
	
	<a href="{{ path('cafe_index') }}"><div class="button-back"></div></a>
	<div class="form-container w100p row-c-c">
		<div class="form-shape">
			<div class="head">Modifier le café</div>
			{{ include('cafe/_form.html.twig', {'button_label': 'Modifier'}) }}

		    {{ include('cafe/_delete_form.html.twig') }}
		</div>
	</div>
    
{% endblock %}
