{% extends 'base.html.twig' %}

{% block title %}New Cafe{% endblock %}

{% block body %}
	
	<a href="{{ path('cafe_index') }}"><div class="button-back"></div></a>
	<div class="form-container w100p row-c-c">
		<div class="form-shape">
			<div class="head">Ajouter un café</div>
			{{ include('cafe/_form.html.twig') }}
		</div>
	</div>

    
{% endblock %}
